:root {
   --color-gold: rgb(132, 117, 79);
   --font-source: 'Source Sans Pro', sans-serif;
   --font-header-source: 'Raleway', sans-serif;

}

html {
   background-color: rgb(173, 172, 172);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   -webkit-font-smoothing: antialiased;
}

h2 {
   font-family: var(--font-header-source);
   text-transform: uppercase;
   font-size: 300%;
   color: #111;
   /* text-decoration: underline; */
   font-weight: 700;
   text-align: center;
   margin: 0px 0 10px 0;
}

th,
tr {
   font-weight: normal;
}

#logoWrapper {
   padding-top: 27px;
   padding-bottom: 16px;
   padding-left: 35px;
   height: 135px;
   display: flex;
   flex-direction: row;
   align-items: center;

}

#Logo {
   width: auto;
   height: 82px;

}

p {
   margin: 0;
}

ul {
   padding: 0%;
   margin: 0px;
}

header {
   background-image: url("./Images/darkGradientBackground.png");
   background-color: #333;
   width: 100%;
   z-index: 99;
   position: relative;
   display: block;
   /* border: solid thin; */
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-size: cover;
}

#toolBar {
   padding-left: 35px;
   background-color: rgba(150, 38, 43, 0.59);
   height: 60px;
   /* border: solid thin; */
   /* border-radius: 10px; */
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

#toolBarList {
   height: 60px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.menuListItem {
   display: flex;
   float: left;
   height: 60px;
   line-height: 60px;
   position: relative;
}

.menuLink {
   height: 60px;
   box-sizing: border-box;
   display: flex;
   color: white;
   cursor: pointer;
   /* vertical-align: middle; */
   text-align: left;
   align-items: center;
   padding: 0px 16px;
   text-decoration: none;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   width: 100%;

}


.menuText {
   display: block;
   line-height: normal;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.menuListItem>.menuLink:before {
   content: "";
   color: transparent;
   bottom: 0px;
   background-color: transparent;
   cursor: pointer;
   height: 1px;
   width: 100%;
   position: absolute;
   right: 0;
   box-sizing: border-box;
}

.menuListItem:hover>.menuLink:before {
   content: "";
   color: var(--color-gold);
   bottom: 0px;
   background-color: var(--color-gold);
   cursor: pointer;
   height: 1px;
   width: calc(100% - 1.2em);
   position: absolute;
   right: 50%;
   transition: ease-in-out;
   box-sizing: border-box;
   transform: scale(1, 1) translate(50%, 0);
   transition: transform 0.3s ease-in-out, color 0.0s ease-in-out;
}

.astArrowSvg {
   display: block;
   height: .6em;
   width: .6em;
   position: relative;
   margin-left: 10px;
   color: white;
   fill: white;
}


/* Change the link color to #111 (black) on hover */


.menuListItem:hover .menuLink {
   color: var(--color-gold);
   box-sizing: border-box;
   line-height: 60px;
   text-decoration-color: var(--color-gold);
   -webkit-box-align: center;

}






/*over all container for 2 boxes at top*/
#topContentContainer {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

#right {
   flex: 2;
}



/*box on left for quickstandings this element is a direct pearent to the ul that holds all the uls*/
#history {
   float: left;
   margin-left: 2%;
   margin-top: 10px;
   /* margin-top: 10px; */
   background-color: white;

   padding: 3px 3px 3px 3px;


   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
}

/*reffering to the ul that holds all of the uls for the quickStandings box direct pearnt of them*/
#history table {
   table-layout: auto;
   padding: 0px 10px 0px 0px;
   text-transform: uppercase;
   border-collapse: collapse;

}



/* quickStandings table data 3px padding left and right and a 2px padding top and bottom */
#history table td {
   padding: 5px 5px 5px 5px;
   text-transform: uppercase;
   text-align: center;
   color: #111;
   font-family: var(--font-source);
   border-top: rgb(211, 216, 221) solid thin;
   border-bottom: rgb(211, 216, 221) solid thin;
   font-size: small;
}


#history table tr {
   background-color: white;
}

#history table tr:nth-child(even) {
   background-color: #f2f2f2;
}


#history table tr td:nth-child(even) {
   color: var(--color-gold);
   font-weight: 600;
}


/* seperator for css*/


/*wrapper element for the upcomingGames box for position purposes*/
#wrapperUpcomingGames {
   /* background-color: aqua; */
   margin-top: 10px;
   flex-wrap: wrap;
   flex: 2;
   display: flex;
   border-radius: 2px;
}



/*the upcomingGames box*/
#upcomingGames {
   /* background-color: rgba(255, 255, 255, 0.644); */
   background-color: white;
   padding: 2px 4px 4px 4px;
   /* margin-top: 10px; */
   /* width: 1000px; */
   border-radius: 10px;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
   width: 100%;
   margin-left: 10px;
   margin-right: 10px;

   /* left: 50%; */
}

/*reffering to the ul that holds all the uls for the upcomingGames box direct pearnt of them*/
#upcomingGames table {
   table-layout: auto;
   padding: 0px 10px 0px 0px;
   border-collapse: collapse;
   width: 100%;
}

#upcomingGames table tr td {
   border-top: rgb(211, 216, 221) solid thin;
   border-bottom: rgb(211, 216, 221) solid thin;
   font-size: larger;
   text-transform: uppercase;
   padding: 5px 15px 5px 15px;
   font-size: larger;
   color: #111;
   font-family: var(--font-source);
}

#upcomingGames table tr {
   background-color: white;
   text-transform: uppercase;
}

#tableTitle {
   text-transform: uppercase;
   font-size: larger;
   color: #111;
   text-decoration: underline;
}



/*align teamLeft text to the right and align teamRight text to the left */
.teamLeft {
   text-align: right;
   font-weight: 600;
   padding-right: 10px !important;
   padding-left: 70px !important;
}

.teamRight {
   text-align: left;
   font-weight: 600;
   padding-right: 70px !important;
   padding-left: 10px !important;
}




#upcomingGames table tr:nth-child(even) {
   background-color: #f2f2f2;
}


/* distrabute days content to spread evenly across the table head*/



#days {
   font-family: var(--font-source);
   font-weight: 600;
   font-size: larger;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100%;
}

#days div {
   padding: 5px 10px 5px 10px;
   margin: 0;
   /* Top, left, right border solid thin white and bottom boarder thick white */

   border: white thin solid;
   border-bottom: white solid;
   -webkit-user-select: none;
   user-select: none;
}


#days div:hover:not(#activeDay) {
   /* border: #111 thin solid; */
   color: var(--color-gold) !important;
   cursor: pointer;

}

.tabContent {
   display: none;
}


/* seperator for css*/





#wrapperBlurb {
   /* background-color: aqua; */
   background-color: white;
   /* float: right; */
   margin-top: 10px;
   padding: 2px 3px 5px 8px;
   flex-wrap: wrap;
   position: relative;
   margin-left: 10px;
   margin-right: 10px;
   /* border-radius: 5px; */
   text-align: left;
   border-radius: 10px;

}



#wrapperBlurb p {
   font-family: var(--font-source);
   margin-top: 5px;
}