html {
   background-color: #333;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#Logo {
   width: auto;
   height: 125px;
   padding: 2px;
}

p {
   margin: 0;
}

ul {
   padding: 0%;
   margin: 0px;
}

header {
   background-color: rgb(116, 0, 0);
}

#toolBarList {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #1f1f1f;
}

header li {
   float: left;
}

header li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   user-select: none;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
   background-color: #111;
}



#topContentContainer {
   display: inline;
}

#upcomingGamesContainer {
   float: right;
   margin-top: 10px;
   width: 1000px;
   text-align: center;
   padding-right: calc((100% - 381px)* 0.5 - 500px);
}

#quickStandings {
   float: left;
   margin-left: 2%;
   margin-top: 10px;
   background-color: aliceblue;
   padding: 2px 2px 2px 2px;
   border: #111 solid;
   border-radius: 2px;
}

#quickStandings ul {
   list-style: none;
   padding: 0px 10px 0px 0px;
}


#listQuickStandings ul {
   display: inline;
   float: left;
   margin-top: 2px;
}


#upcomingGamesContainer ul {
   list-style: none;
   padding: 0px 5px 0px 5px;

}

#listContainerUpcomingGames {
   background-color: aliceblue;
   padding: 2px 2px 2px 2px;
}

#listQuickStandings ul li:first-child {
   border-bottom: #111 solid thin;
}