:root {
   --color-gold: rgb(132, 117, 79);
   --font-source: 'Source Sans Pro', sans-serif;
   --font-header-source: 'Raleway', sans-serif;
}

html {
   background-color: rgb(173, 172, 172);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
   -webkit-font-smoothing: antialiased;
}

h2 {
   font-family: var(--font-header-source);
   text-transform: uppercase;
   font-size: 250%;
   /* color: #111; */
   /* text-decoration: underline; */
   font-weight: 700;
   text-align: center;
   margin: 0px 0 10px 0;
   color: var(--color-gold);
}

th,
tr {
   font-weight: normal;
}

#logoWrapper {
   padding-top: 27px;
   padding-bottom: 16px;
   padding-left: 17px;
   padding-right: 17px;
   height: 135px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

#Logo {
   width: auto;
   height: 100px;



}

#uniLogo {
   padding: 5px;
   margin: 10px;
   height: 125px;
   width: auto;
}


p {
   margin: 0;
}

ul {
   padding: 0%;
   margin: 0px;
}

header {
   background-image: url("../Images/darkGradientBackground.png");
   background-color: #333;
   width: 100%;
   z-index: 99;
   position: relative;
   display: block;
   /* border: solid thin; */
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-size: cover;
}

#toolBar {
   padding-left: 35px;
   background-color: rgba(150, 38, 43, 0.59);
   height: 60px;

}

#toolBarList {
   height: 60px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.menuListItem {
   display: flex;
   float: left;
   height: 60px;
   line-height: 60px;
   position: relative;
}

.menuLink {
   height: 60px;
   box-sizing: border-box;
   display: flex;
   color: white;
   cursor: pointer;
   /* vertical-align: middle; */
   text-align: left;
   align-items: center;
   padding: 0px 16px;
   text-decoration: none;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   justify-content: center;
   box-sizing: border-box;
   width: 100%;
}


.menuText {
   display: block;
   line-height: normal;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   box-sizing: border-box;
   font-family: var('Lato', sans-serif);

}

.menuListItem>.menuLink:before {
   content: "";
   color: transparent;
   bottom: 0px;
   background-color: transparent;
   cursor: pointer;
   height: 1px;
   width: 100%;
   position: absolute;
   right: 0;
   box-sizing: border-box;
}

.menuListItem:hover>.menuLink:before {
   content: "";
   color: var(--color-gold);
   bottom: 0px;
   background-color: var(--color-gold);
   cursor: pointer;
   height: 1px;
   width: calc(100% - 1.2em);
   position: absolute;
   right: 50%;
   transition: ease-in-out;
   box-sizing: border-box;
   transform: scale(1, 1) translate(50%, 0);
   transition: transform 0.3s ease-in-out, color 0.0s ease-in-out;
}

.astArrowSvg {
   display: block;
   height: .6em;
   width: .6em;
   position: relative;
   margin-left: 10px;
   color: white;
   fill: white;
}


/* Change the link color to #111 (black) on hover */


.menuListItem:hover .menuLink {
   color: var(--color-gold);
   box-sizing: border-box;
   line-height: 60px;
   text-decoration-color: var(--color-gold);
   -webkit-box-align: center;

}







#right {
   flex: 2;
}












/* seperator for css*/



/*reffering to the ul that holds all the uls for the upcomingGames box direct pearnt of them*/
table {
   table-layout: auto;
   padding: 0px 10px 0px 0px;
   border-collapse: collapse;
   width: 100%;
}

table tr td {
   border-top: rgb(211, 216, 221) solid thin;
   border-bottom: rgb(211, 216, 221) solid thin;
   font-size: medium;
   text-transform: uppercase;
   padding: 5px 10px 5px 15px;
   font-size: larger;
   color: #111;
   font-family: var(--font-source);
}

table tr {
   background-color: white;
   text-transform: uppercase;
}








table tbody tr:nth-child(even) {
   background-color: #f2f2f2;
}


/* distrabute days content to spread evenly across the table head*/





/* seperator for css*/









footer {
   background-image: url("../Images/dark-gradient-background-3.png");
   margin-top: 0px;
   /* border-top-left-radius: 10px;
   border-top-right-radius: 10px; */
}

#footerWrapper {
   padding-bottom: 100px;

}

#sponsorsBar {
   width: 100%;
   background-color: #ecedea;
   background-image: url("../Images/pallidan2.png");
   background-size: contain;
   height: 50px;
   color: white;
   text-align: center;
}

#sponsorsBar img {
   height: 50px;
   width: auto;
}

#links {
   padding: 0 35px 0 35px;
}

#sponsorsWrapper {
   flex: 2;
   margin-top: 10px;
}

#sponsorsTitle {
   display: flex;
   color: white;
   font-family: var(--font-header-source);
   /* border-top-left-radius: 10px;
   border-top-right-radius: 10px; */
   /* background-color: rgba(255, 255, 255, 0.2); */
   background-color: rgba(150, 38, 43, 0.59);

   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 5px 0px 5px 0px;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   /* border-bottom: white thin solid; */
   -webkit-user-select: none;
   user-select: none;
}

#sponsors {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px 0px 10px 0px;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
   transition: background-color 0.5s ease-in-out;

   margin: 0 15px 0 15px;


   border-bottom: rgba(150, 38, 43) thin solid;

}

#sponsors img {
   height: 50px;
   width: auto;
}

#briefInfoParent {
   width: 100%;
   margin-top: 5px;
   display: flex;
   padding-top: 5px;

}

#briefInfo {
   color: white;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   width: 14%;
   align-content: center;
   padding: 10px;
}



#imgWrapper {
   width: auto;
   padding: 0;
   font-size: 0;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

#imgWrapper img {
   aspect-ratio: 180/158;
   height: auto;
   /* max-width: 100%; */
   display: block;
   margin: 0;
   /* margin-bottom: 10px; */
}

#info {
   margin: 25px;
   font-size: 14px;
   text-align: center;
}

#topInfo {
   margin-bottom: 14px;
}

.red {
   color: rgba(150, 38, 43, 0.59);
}

#bottomLinksWrapper {
   width: 100%;
}

#bottomLinks {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#bottomLinksIconWrapper {
   /* display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: top; */
   display: inline-block;
   word-spacing: 5px;
   width: 14%;
   height: auto;
   flex-wrap: wrap;
   -webkit-user-select: none;
   user-select: none;
   padding: 10px;
   justify-content: center;
   justify-items: center;
   text-align: center;
}


.iconWrapper {
   height: 35px;
   width: 35px;
   display: inline-block;
}

.iconLink {
   display: flex;
   height: inherit;
   width: inherit;
   justify-content: center;
   align-items: center;
   background-color: rgba(150, 38, 43, 0.59);
   border-radius: 50%;


}

.icon {
   fill: white;
   height: 16px;
}

#widgetsContainer {
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex: 2;
   padding: 10px;
   border-top: rgba(150, 38, 43) thin solid;
}

#widgets {
   margin-right: auto;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.widget a {
   list-style: none;
   color: white;
   text-decoration: none;
   padding: 15px 14px 15px 14px;
   color: rgb(222, 221, 221);
   font-size: 14px;
   font-family: var(--font-source);
}

.backWhite {
   background-color: white;
   padding: 2px;
}

/* media querry for a phone screen size */
@media only screen and (max-width: 790px) {
   #topImg {
      height: 100%;
      width: 100%;
      margin: 0;
   }

   #topImg img {
      width: 100%;
      height: auto;
   }

   #bottomImg {
      width: 100%;
   }

   #bottomImg img {
      width: 100%;
      height: auto;
   }

   #briefInfoParent {
      width: 100%;
      margin-top: 5px;
      display: flex;
      padding-top: 5px;
      flex-direction: column;
   }

   #briefInfo {
      color: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      align-content: center;
      padding: 10px;
   }

   #imgWrapper {
      width: auto;
      padding: 0;
      font-size: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   #imgWrapper img {
      aspect-ratio: 180/158;
      height: auto;
      /* max-width: 100%; */
      display: block;
      margin: 0;
      /* margin-bottom: 10px; */
   }

   #info {
      margin: 25px;
      font-size: 14px;
      text-align: center;
   }

   #topInfo {
      margin-bottom: 14px;
   }

   .red {
      color: rgba(150, 38, 43, 0.59);
   }

   #bottomLinksWrapper {
      width: 100%;
   }

   #bottomLinks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }

   #bottomLinksIconWrapper {
      /* display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: top; */
      display: inline-block;
      word-spacing: 5px;
      width: 14%;
      height: auto;
      flex-wrap: wrap;
      -webkit-user-select: none;
      user-select: none;
      padding: 10px;
      justify-content: center;
      justify-items: center;
      text-align: center;
   }

   .iconWrapper {
      height: 35px;
      width: 100%;
   }

   #Logo {
      width: auto;
      height: 45px;



   }

   #uniLogo {
      padding: 5px;
      margin: 10px;
      height: 70px;
      width: auto;
   }

   table tr td {
      padding: 5px;
   }

   table {
      font-size: 11px;
   }

}

@media only screen and (max-width: 1112px) {
   #toolBarList {
      display: flex;
      flex-direction: column;
      height: auto;
      text-align: center;
   }

   #toolBar {
      height: auto;
   }

   .menuLink,
   .menuListItem {
      height: auto;
   }

   .menuListItem {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .menuText {
      font-size: small;
   }

}