#contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#resultsDayContainer {
    width: 75%;
    margin: 20px 10px 50px 10px;

    flex: 2;

}

#dayTableContainer {
    background-color: white;
    border-radius: 10px;
    padding: 2px 4px 4px 4px;
}



#dayTableContainer table {
    width: 100%;
}

#poolResultsContainer {
    margin: 20px 10px 10px 10px;
    flex: 1;

}

#poolResults {
    border-radius: 10px;
    background-color: white;
    padding: 2px 4px 4px 4px;
    display: flex;
    flex-direction: column;

}

.tablePointsHeading th {
    /* border-top: thin solid black; */
    padding: 2px 2px 0 2px;
    column-span: all;
}


.tablePointsHeading th:first-child {
    border-right: thin solid black;
    width: auto;
}

.tablePoints td:nth-child(n + 1) {
    padding: 0 2px 0 2px;
    text-align: center;
    height: 80%;
    font-size: 15px;
}

.tablePoints td:nth-child(1) {
    padding: 0 2px 0 2px;
    height: 80%;
    font-size: small;
    text-align: left;
}




.smallBottomText {
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    border-top: thin solid black;
    color: rgb(143, 143, 143);
}