#contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#resultsDayContainer {
    width: 75%;
    margin: 20px 10px 50px 10px;

    flex: 2;

}

#dayTableContainer {
    background-color: white;
    border-radius: 10px;
    padding: 2px 4px 4px 4px;
}



#dayTableContainer table {
    width: 100%;
}

#poolResultsContainer {
    margin: 20px 10px 10px 10px;
    flex: 1;

}

#poolResults {
    border-radius: 10px;
    background-color: white;
    padding: 2px 4px 4px 4px;
    display: flex;
    flex-direction: column;

}

.tablePointsHeading th {
    /* border-top: thin solid black; */
    padding: 2px 2px 0 2px;
    column-span: all;
    width: calc(55% / 7);
}


.tablePointsHeading th:first-child {
    border-right: thin solid black;
    width: 45%;
}

.tablePoints td:nth-child(n + 1) {
    padding: 0 2px 0 2px;
    text-align: center;
    height: 80%;
    font-size: 15px;
}

.tablePoints td:nth-child(1) {
    padding: 0 2px 0 2px;
    height: 80%;
    font-size: small;
    text-align: left;
}




.smallBottomText {
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    border-top: thin solid black;
    color: rgb(143, 143, 143);
}

#days {
    font-family: var(--font-source);
    font-weight: 600;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#days div {
    padding: 5px 10px 5px 10px;
    margin: 0;
    /* Top, left, right border solid thin white and bottom boarder thick white */

    border: white thin solid;
    border-bottom: white solid;
    -webkit-user-select: none;
    user-select: none;
}


#days div:hover:not(#activeDay) {
    /* border: #111 thin solid; */
    color: var(--color-gold) !important;
    cursor: pointer;

}

.tabContent {
    display: none;
}


@media only screen and (max-width: 790px) {
    #dayTableContainer {
        font-size: 11px;
    }
}