#contentContainer {
    display: flex;
    flex-direction: column;
}

#blurbContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blurb {
    background-color: #f2f2f2;
    padding: 2px 3px 5px 8px;
    border-radius: 10px;
    margin: 10px;
}

.card {
    width: 100%;
}

#qrCodes {
    text-align: center;
    margin: 10px;
}

#parentQR {
    width: 300px;
    height: auto;
}